<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 ">
                            <a class="text-decoration-none" href="/stockit/staff/">
                                <div class="card my_card shadow text-center p-3 bg-success text-white">
                                    <h4>Employees <i class="bi bi-people"></i></h4>
                                    <h3>{{ wc }}</h3>
                                </div>
                            </a>
                        </div>

                        <div class="col-4">
                            <a class="text-decoration-none text-dark" href="/stockit/product/">
                                <div class="card my_card shadow text-center p-3 bg-danger text-white">
                                    <h4>Products <i class="bi bi-box-seam"></i></h4>
                                    <h3>{{ pc }}</h3>
                                </div>
                            </a>
                        </div>

                        <div class="col-4">
                            <a class="text-decoration-none text-dark" href="/stockit/order/">
                                <div class="card my_card shadow text-center p-3 bg-info text-white">
                                    <h4>Orders <i class="bi bi-truck"></i></h4>
                                    <h3>{{ oc }}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>